---
import {Counter} from '../components/react/Counter';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro 6 + Cloudflare + React + Actions dev repro</title>
  </head>
  <body>
    <h1>minimal reproducer</h1>
    <Counter client:load />
  </body>
</html>
